<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Crimson+Text|Pacifico"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="style/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      #canvas {
        display: flex;
        justify-content: flex-end;
        background-image: url("");
        background-size: cover;
        background-position: center;
        height: auto;
        width: auto;
        min-width: 400px;
        min-height: 300px;
        border: 1px solid #000;
      }
      #recipient {
        text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
          -1px -1px 0 black, 1px 0px 0 black, 0px 1px 0 black, -1px 0px 0 black,
          0px -1px 0 black, -1px -1px 0px rgba(0, 0, 0, 0), 8px 8px 8px #cdff3c,
          -8px -8px 8px #cdff3c;
        color: white;
      }
      #message {
        text-shadow: 8px 8px 8px #cdff3c, -8px -8px 8px #cdff3c;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <h1 class="brand"></h1>
        <ul>
          <li>
            <a class="ml-5" style=" text-decoration: none;color: white" href="#"
              >About</a
            >
          </li>
          <transition name="slide-fade" mode="out-in">
            <li class="dropdown" v-if="!isLogin" key="false">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown"
                ><span class="glyphicon glyphicon-log-in"></span> Login</a
              >
              <div
                class="dropdown-menu"
                style="padding: 15px; padding-bottom: 10px;"
              >
                <form
                  class="form-horizontal"
                  method="post"
                  accept-charset="UTF-8"
                >
                  <input
                    id="sp_email"
                    class="form-control login"
                    type="text"
                    name="sp_email"
                    placeholder="Email.."
                    v-model="email"
                  />
                  <input
                    id="sp_pass"
                    class="form-control login"
                    type="password"
                    name="sp_pass"
                    placeholder="Password.."
                    v-model="password"
                  />
                  <input
                    @click.prevent="login"
                    class="btn"
                    type="submit"
                    name="submit"
                    value="login"
                    style="background-color:#f5dd7b; float: right;"
                  />
                </form>
              </div>
            </li>
            <li v-if="isLogin" key="true">
              <a
                @click.prevent="logout"
                style=" text-decoration: none;color: white"
                href="#"
                >Logout</a
              >
            </li>
          </transition>
        </ul>
      </nav>

      <!-- FORM DAN CARD YG DI HTML  -->
      <div v-if="isLogin && page == 'card'">
        <div class="container-fluid">
          <div class="row" style="align-items: center;">
            <div class="col-md-4 mt-4">
              <h1>Create your</h1>
              <input-form v-on:newcard="generatecard"></input-form>
            </div>
            <div class="col-md-8 mt-4">
              <result-card :i="card.image" :m="card.message" :t="card.to">
              </result-card>

              <!-- FORM DAN CARD YG DI HTML  -->
              <div id="ss">
                <div id="subss"></div>
              </div>
            </div>

            <!-- LANDING PAGE -->
            <div id="home" v-if="page == 'home'">
              <div class="bg-image"></div>
              <div class="bg-text">
                <h1 class="py-5">Ramadhan Kareem</h1>
                <transition name="slide-fade">
                  <button
                    @click.prevent="showCard"
                    class="ghost-button-full-color"
                    v-if="isLogin"
                  >
                    Get Free Card
                  </button>
                </transition>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="components/cardform.js"></script>
    <script src="components/cardresult.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
